/*
body {
	background-color: rgba(5,5,5,255);
}

.section {
	height: 100vh;
	background-color: rgba(200,200,200,255);
	padding-top: 55px;
	position: relative;
}
.section .align-bottom {
		position: absolute;
		bottom: 0;
		padding-bottom: 10px;
}

.center {
  text-align: center;
}

.btn {
	background-color: rgba(0,0,0,0);
	border-color: white;
	color: white;
}

.col-sm-4 {
	padding: 10px;
}

.title {
	font-size: 40px;
	color: white;
	text-align: center;
}
.subtitle {
	font-size: 24px;
	color: white;
	text-align: center;
}
.main-title {
	font-size: 50px;
	color: white;
	text-align: center;
	padding-top: 50vh;
}
.main-subtitle {
	font-size: 40px;
	color: white;
	text-align: center;
}

img {
	max-width: 100%;
	max-height: 100%;
}

#profile-pic {
	height: 45px;
  width: 45px;
	border-radius: 10px;
	margin: 5px 10px 5px 0px;
}


#coverpage-section {
	background-size: cover;
	background-position: center;
}

#titlebox {
	color: white;
	text-align: right;
}

#examples-section {
	height: auto;
}
*/
/*
*******************************************************
*** START *********************************************
*******************************************************
*/
/* Sections */
.section {
  height: 100vh;
  padding-top: 55px;
  position: relative;
}

.align-bottom {
  position: absolute;
  bottom: 0;
  padding-bottom: 10px;
  padding-left: 10px;
}

/* Coverpage */
#coverpage-section {
  padding-top: 0px;
  background-color: #D5F5E3;
}

#titlebox {
  height: 100vh;
}

.main-title {
  font-size: 50px;
  color: black;
  text-align: center;
}

.main-subtitle {
  font-size: 40px;
  color: darkgrey;
  text-align: center;
}

/* Shared properties*/
.title {
  font-size: 40px;
  color: black;
  text-align: center;
}

.subtitle {
  font-size: calc(3vh + 1vw);
  color: darkgrey;
  text-align: center;
}

/* Description page */
/* Examples page */
#examples-section {
  height: auto;
  background-color: #EAFAF1;
}

/* CV page */
#resume-section {
  height: auto;
}

h1 {
  border-bottom: 2px solid #000000;
}

h2 {
  display: flex;
  justify-content: space-between;
}

h5 {
  display: flex;
  justify-content: space-between;
}

/* Contact page */
#contact-section {
  background-color: #EAFAF1;
}